@page "/public"
@using MiniTwitClient.Components;
@using MiniTwitClient.Shared

<AppPageTitle Text="Home" />


<div class="max-w-4xl mx-auto px-8">
    <h1 class="text-3xl font-bold mb-4">Your Feed</h1>

    @if (UserState.IsLoggedIn)
    {
        <label class="block text-gray-700 text-sm font-bold mb-2" for="tweet">
            Message
        </label>
        <div>
            <textarea @bind=AddMessageRequest.Content class="shadow appearance-none border rounded w-full h-64 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tweet" placeholder="Your Message" rows="4"></textarea>
        </div>    <div class="mt-3">
            <button @onclick=PostMessage type="submit" class="mb-4 flex w-32 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Post message</button>
        </div>
    }

    @foreach (var message in Messages)
    {
        <Tweet Message="@message" />
    }

    @if (_isLoading)
    {
        <div class="flex justify-center mt-6">
            <!-- Tailwind-based spinner -->
            <svg class="animate-spin mb-10 h-8 w-8 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
            </svg>
        </div>
    }
</div>