@page "/logs"
@using MiniTwitClient.Shared
<AppPageTitle Text="Logs" />

@if (UserState.IsAdmin)
{
    <h1 class="mt-4 text-2xl font-bold mb-4 text-center">
        Live Logs<br />
        @($"{DateTime.Now:dd-MM-yyyy}")
    </h1>

    <div @ref="_logContainer"
    id="logContainer"
    class="fixed inset-4 bg-black mt-40 mb-32 mr-64 ml-64
         text-green-400 font-mono p-8 rounded shadow
         overflow-y-auto whitespace-pre-wrap">

        <!-- ← Top sentinel: when *this* enters view, we load older logs -->
        <div id="topSentinel"></div>

        @if (_logMessages.Count == 0)
        {
            <div>Loading logs...</div>
            for(int i = 0; i < 100; i++)
            {
                <div>Loading logs...</div>
            }
        }
        else
        {
            @foreach (var log in _logMessages)
            {
                <div>@log</div>
            }
        }
    </div>
}
else
{
	<h1 class="mt-8 text-2xl font-bold mb-4">Not Authorized</h1>
}

