@page "/{username}"
@using MiniTwitClient.Components
@using MiniTwitClient.Shared
<AppPageTitle Text="@($"User {username}'s Feed")" />

<div class="max-w-4xl mx-auto px-8">
    <h1 class="text-3xl font-bold mb-4">
        @($"{username}'s Feed")</h1>

    @if (UserState.IsLoggedIn)
    {
        <div class="mb-4">
        @if (!Follows)
        {
            <div class="mt-4">
                <button @onclick=Follow 
                class="flex w-32 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Follow
                </button>
            </div>
        }
        else
        {
            <div class="mt-4">
                <button @onclick=Unfollow 
                class="flex w-32 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Unfollow
                </button>
            </div>
        }
        </div>
    }

    @foreach (var message in Messages)
    {
        <Tweet Message="@message" />
    }

    @if (_isLoading)
    {
        <div class="flex justify-center mt-6">
            <!-- Tailwind-based spinner -->
            <svg class="animate-spin mb-10 h-8 w-8 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
            </svg>
        </div>
    }
</div>
